h1 {
    color: rgb(233, 57, 72);
}

h2 {
    color: rgb(120, 230, 153);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

h3 {
    background-color: rgb(82, 207, 170);
    color: rgb(106, 93, 223);
    text-decoration: underline;
    text-align: center;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
}

h4 {
    text-transform: uppercase;
    color: rgb(230, 146, 160);
    text-shadow: 1px 1px #532d2d;
}

h5 {
    text-decoration: line-through;
    font-size: 25px;
    color: chocolate;
    text-align: right;
}

h6 {
    color: rgb(216, 216, 36);
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: red;
    font-size: larger;
    text-indent: 40px;
}